body {
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
    border: 10px solid red;
    width: 20%;
    text-align: center;
}

.instruction {
    font-size: 60%;
    text-align: left;
}

/* circle css style from: https://www.w3schools.com/howto/howto_css_circles.asp*/
.circle {
    padding: 5px 20px;
    font-size: 65%;
    color: white;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}
